<% include partials/_header %>

<div class="container">
  <div class="row">
    <!--FORM-->
    <div class="col-md-5">
      <div class="card">
        <div class="card-body">
          <form action="/add" method="POST">
            <div class="form-group">
              <input class="form-control" type="text" name="Nombre" placeholder="Nombre">
            </div>
            <div class="form-group">
              <input class="form-control" type="text" name="Foto" placeholder="Url Foto">
            </div>
            <div class="form-group">
              <textarea class="form-control" name="Descripcion" cols="80"
                placeholder="Añade una Descripcion"
                ></textarea>
            </div>
            <div class="form-group">
              <input class="form-control" type="text" name="Tipo" placeholder="Tipo">
            </div>
            <div class="form-group">
              <input class="form-control" type="text" name="Plataforma" placeholder="Plataforma">
            </div>
            <div class="form-group">
              <input class="form-control" type="text" name="Categoria" placeholder="Categoria">
            </div>
            <div class="form-group">
              <input class="form-control" type="text" name="Precio" placeholder="Precio">
            </div>
            <div class="form-group">
              <input class="form-control" type="text" name="Oferta" placeholder="Oferta">
            </div>
            <button class="btn btn-primary" type="submit">
              Añadir
            </button>
          </form>
        </div>
      </div>
    </div>

    <!-- LIST -->
    <div class="col-md-7">
      <table class="table table-bordered table-hover">
        <thead>
          <tr>
            <th>N°</th>
            <th>Nombre</th>
            <th>Foto</th>
            <th>Tipo</th>
            <th>Plataforma</th>
            <th>Categoria</th>
            <th>Precio</th>
            <th>Oferta</th>
            <th>Operaciones</th>
          </tr>
        </thead>
        <tbody>
      <% for(var i=0; i < tasks.length; i++) { %>
        <tr>
          <td><%= i + 1%></td>
          <td><strong><%= tasks[i].Nombre %></strong></td>
          <td>
              <div class="img-box">
                <img src="<%= tasks[i].Foto %>"  width="100%" height="80%"></img>
              </div>
          </td>
          <td><%= tasks[i].Tipo %></td>
          <td><%= tasks[i].Plataforma %></td>
          <td><%= tasks[i].Categoria %></td>
          <td><%= tasks[i].Precio %></td>
          <td><%= tasks[i].Oferta %></td>
          <td>
            <a
              class="<%= tasks[i].status ? 'btn btn-success' : 'btn btn-dark'%> mb-2"
              href="/turn/<%= tasks[i]._id %>">Done</a>
            <a href="/delete/<%= tasks[i]._id %>"
              class="btn btn-danger mb-2" >
              Eliminar
            </a>
            <a href="/edit/<%= tasks[i]._id %>" class="btn btn-info">
              Editar
            </a>
          </td>
        </tr>
      <% } %>
    </tbody>
      </table>
   </div>

  </div>
</div



<% include partials/_footer %>
