
<% include partials/_header %>

<div class="container">
  <div class="row">
    <!--FORM-->
    <div class="col-md-5 offset-md-3">
      <div class="card">
        <div class="card-body">
          <form action="/edit/<%= task._id %>" method="post">
            <div class="form-group">
              <input class="form-control" type="text" name="Nombre" placeholder="Nombre" value="<%= task.Nombre %>">
            </div>
            <div class="form-group">
              <input class="form-control" type="text" name="Foto" placeholder="Foto" value="<%= task.Foto %>">
            </div>
            <div class="form-group">
              <textarea class="form-control" name="Descripción" cols="80"
                placeholder="Añade descripción"
                ><%= task.Descripcion %></textarea>
            </div>
            <div class="form-group">
              <input class="form-control" type="text" name="Tipo" placeholder="Tipo" value="<%= task.Tipo %>">
            </div>
            <div class="form-group">
              <input class="form-control" type="text" name="Plataforma" placeholder="Plataforma" value="<%= task.Plataforma %>">
            </div>
            <div class="form-group">
              <input class="form-control" type="text" name="Categoria" placeholder="CategoriaCategoria" value="<%= task.Categoria %>">
            </div>
            <div class="form-group">
              <input class="form-control" type="text" name="Precio" placeholder="PrecioPrecio" value="<%= task.Precio %>">
            </div>
            <div class="form-group">
              <input class="form-control" type="text" name="Oferta" placeholder="OfertaOferta" value="<%= task.Oferta %>">
            </div>
            <button class="btn btn-primary" type="submit">
              Modificar
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<% include partials/_footer%>
